<header>
  <img src="/assets/img/backbone.png">
  <hr>
  
  <div>
    <h2 class="congrats">Congratulations!</h2>
    <h2>Seeing this means Backbone Boilerplate is installed and configured correctly.</h2>

    <p>Now that you have the easiest and most-powerful Backbone boilerplate,
    you're probably wondering how to use it most effectively...</p>
  </div>
</header>

<section id="toc">
  <h1>Contents</h1>

  <ul>
    <li><a data-undeleg href="#overview">Overview</a>
    <li><a data-undeleg href="#getting-help">Getting help</a>
    <li><a data-undeleg href="#writing-app">Writing your application</a>
      <ul class="nested">
        <li><a data-undeleg href="#cleaning">Cleaning out unnecessary files/code</a>
        <li><a data-undeleg href="#namespace">Setting your namespace</a>
        <li><a data-undeleg href="#modules">Creating a module</a>
        <li><a data-undeleg href="#templates">Using Underscore templates</a>
        <li><a data-undeleg href="#plugins">Working with libraries and plugins</a>
      </ul>
    <li><a data-undeleg href="#custom-build">Using the build tool</a>
      <ul class="nested">
        <li><a data-undeleg href="#running">Running the defaults</a>
        <li><a data-undeleg href="#customizing">Customizing build/config.js</a>
        <li><a data-undeleg href="#server">Using the development server</a>
        <li><a data-undeleg href="#adding-tasks">Adding new tasks</a>
      </ul>
  </ul>
</section>

<section id="overview">
  <h2>Overview</h2>

  <p>This boilerplate is the product of much research and frustration. Existing boilerplates exist that modify Backbone core, don't have a build process, or are very prescriptive; this boilerplate changes that.

Organize your application in a logical filesystem, develop your Models/Collections/Views/Routers inside modules, and build knowing you have efficient code that will not bottleneck your users.</p>

  <h3>Provides</h3>
  <ul>
    <li>HTML5 Boilerplate foundation
    <li>Elegant filesystem structure for
      <ul class="nested">
        <li>App code, assets, tests, and distribution
      </ul>
    <li>Snippets to make common tasks easier
      <ul class="nested">
        <li>For modules, HTML5 History API/Hash navigation, loading templates and application events
      </ul>
    <li>Very flexible and pluginable build process
      <ul class="nested">
        <li>Concatenate and minify all your libraries, application code, templates and CSS
        <li>Compiles underscore templates out of the box
      </ul>
  </ul>

</section>

<section id="getting-help">
  <h2>Getting help</h2>

  <p>If you're encountering an issue, have a question, or just need  that hasn't been answered in this
  tutorial, the GitHub README</p>
</section>

<section id="writing-app">
  <h2>Writing your application</h2>

  <p>Blurbage here</p>
</section>

<section id="custom-build">
  <h2>Customizing the build tool</h2>

  <p>Blurbage here</p>
</section>
