<header>
  <img src="/assets/img/backbone.png">
  <hr>
  
  <div>
    <h2 class="congrats">Congratulations!</h2>
    <h2>Seeing this means you have installed Backbone Boilerplate correctly.</h2>

    <p>Now that you have the easiest and most-powerful Backbone boilerplate available,
    you're probably wondering how to use it to start building applications...</p>
  </div>
</header>

<section id="toc">
  <h1>Contents</h1>

  <ul>
    <li><a data-bypass href="#overview">Overview</a>
    <li><a data-bypass href="#getting-help">Getting help</a>
    <li><a data-bypass href="#writing-app">Writing your application</a>
      <ul class="nested">
        <li><a data-bypass href="#cleaning">Cleaning out default files and code</a>
        <li><a data-bypass href="#namespace">Setting your namespace</a>
        <li><a data-bypass href="#modules">Creating a module</a>
        <li><a data-bypass href="#templates">Working with templates</a>
        <li><a data-bypass href="#plugins">Working with libraries and plugins</a>
      </ul>
    <li><a data-bypass href="#custom-build">Using the build tool</a>
      <ul class="nested">
        <li><a data-bypass href="#running">Running with the defaults</a>
        <li><a data-bypass href="#customizing">Customizing the build configuration</a>
        <li><a data-bypass href="#server">Using the development server</a>
        <li><a data-bypass href="#adding-tasks">Adding new tasks</a>
      </ul>
    <li><a data-bypass href="#useful-resources">Useful Resources</a>
  </ul>
</section>

<section>
  <h2 id="overview">Overview</h2>

  <p>Backbone Boilerplate is the product of much research and frustration. While existing boilerplates for Backbone exist, they will often modify the Backbone core, don't have an integrated build system, or impose too much on your application's structure. This boilerplate attempts to improve that.

Organize your application in a logical filesystem, and develop Models, Collections, Views, and Routers inside modules. Build your application knowing you have efficient, compact code. Backbone Boilerplate extends on the versatile Backbone core, and helps developers manage their application.</p>

  <h3 id="core-features">Core Features</h3>
  <ul>
    <li><a target="_blank" href="https://github.com/h5bp/html5-boilerplate">HTML5 Boilerplate</a> included.
    <li>Managed filesystem structure for application code, assets, tests, and distribution.
    <li>Snippets to make common tasks easier: modules, HTML5 History API/Hash navigation, template loading and application events.
    <li>Flexible and extendable build system.
      <ul class="nested">
        <li>Concatenate and minify all your libraries, application code, templates and CSS down to reduce transmission time.
        <li>Compile underscore templates to prevent pre-processing on the client.
      </ul>
  </ul>
</section>

<section>
  <h2 id="getting-help">Getting help</h2>

<p>If you're encountering an issue, need assistance, or have a question that hasn't been answered in this
  tutorial, or <a href="https://github.com/tbranyen/backbone-boilerplate">the GitHub project page</a>
  you can find help in the #documentcloud</p>

  Problem?

  Avenues for support?
  
  When to file an issue?
</section>

<section>
  <h2 id="writing-app">Writing your application</h2>
  <p></p>

  <h3 id="cleaning">Cleaning out default files and code</h3>
  <p>Placeholder</p>

  <h3 id="namespace">Setting your namespace</h3>
  <p>
    <pre><code>
    mynamespace = {
      a: function() {
        
      }
    };
    </code></pre>
  </p>

  <h3 id="modules">Creating a module</h3>
  <p>Placeholder</p>

  <h3 id="templates">Working with templates</h3>
  <p>Placeholder</p>

  <h3 id="plugins">Working with libraries and plugins</h3>
  <p>Placeholder</p>
</section>

<section>
  <h2 id="custom-build">Customizing the build tool</h2>
  <p>Placeholder</p>

  <h3 id="running">Running with the defaults</h3>
  <p>Placeholder</p>

  <h3 id="customizing">Customizing the build configuration</h3>
  <p>Placeholder</p>

  <h3 id="server">Using the development server</h3>
  <p>Placeholder</p>

  <h3 id="adding-tasks">Adding new tasks</h3>
  <p>Placeholder</p>
</section>

<section id="useful-resources">
  <h2>Useful resources</h2>

  <ul>
    <li><a href="http://backbonejs.org/">Backbone documentation</a> - Framework on which Backbone Boilerplate is built.
    <li><a href="http://documentcloud.github.com/underscore/docs/underscore.html">Underscore documentation</a> - Required dependency for Backbone.
  </ul>
</section>
