<header>

  <img src="/assets/img/backbone.png">
  <hr>
  <div>
    <h2 class="congrats">First off, congratulations!</h2>
    <h2>Seeing this means Boilerplate is installed and configured correctly.</h2>

    <p>Now that you have the easiest and most-powerful Backbone Boilerplate,
    you're probably wondering how to use it most effectively.</p>
  </div>

</header>

<section id="toc">
  <h1>Table of contents</h1>
  <ol>
    <li>Table of contents
    <li>Setting up your namespace
  </ol>
</section>
